/* p { font-size: 20px } */

#texto1 { font-size: 20px }

.texto30px { font-size: 30px }

p.textocentrado { text-align: center; }

/* Afecta todo elemento que sea tercer hijo de otro elemento
p:nth-child(3) { 
	background: #999999
}
*/

/* Afecta a todo elemento que sea primer hijo de la clase mitexto2 de otro elemento
.mitexto2:nth-child(2) {
	background: #999999
}
*/

/* Afecta a todos los elementos */
* {
	margin:40px;
}

/* Afecta a todo hijo par */
p:nth-child(odd) {
	background: #999999
}

/* Afecta a todo hijo impar */
p:nth-child(even) {
	background: #CCCCCC
}

/* Si queremos crear una div vacía solo rellena con un color tenemos que darle un width y un height porque sino solo ocupara lo que ocupe el texto que haya dentro */
.fondo{
	width: 100%;
    height: 100px;
    margin-left: 0px;
    background-color: #CCCCCC;
}

/* Importante: Esto afecta a los elementos p de la clase mitexto 2 que esten DENTRO del div con id=wrapper */
#wrapper > p.mitexto2 {
	color: #990000;
}